body {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

button {
  outline: transparent;
}

button:focus {
  outline: transparent;
}

header {
  height: 100px;
  top: 0;
  z-index: 200;
  position: sticky;
  background-color: white;
}

.container {
  max-width: 1280px;
  width: 100%;
}

nav {
  margin: 10px 0;
}

nav .logo {
  display: block;
  height: 40px;
  width: 112px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0;
  background-image: url("../assets/logo.svg");
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #BB8E2B;;
}

.ru {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.ru img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.categories {
  justify-content: space-between;
}

.categories a {
  color: #979797;
  margin-right: 20px;
  cursor: pointer;
}

.categories a:hover {
  color: black;
  text-decoration: none;
}

.categories a.active {
  font-weight: 400;
  color: black;
}

.categories a.active::before {
  max-width: 15px;
}

.categories a::before {
  left: 34%;
  width: 15px;
  bottom: -5px;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  max-width: 0;
  transform: translateX(-50%);
  transition: max-width ease-in 100ms;
  background-color: #000;
}

.right-side {
  justify-content: right;
}

.options {
  width: 132px;
  display: flex;
  flex-wrap: nowrap;
}

.options span {
  margin-right: 12px;
  cursor: pointer;
}

.options span:last-child {
  margin-right: 0;
}

.search-wrapper_input {
  border: none;
}

.all-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
  top: 0;
  z-index: 200;
  position: sticky;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.all a{
  padding-left: 16px;
  padding-right: 16px;
  letter-spacing: 1px;
}

.active {
  font-weight: 600;
  color: #BB8E2B;
}

.main-title {
  height: 134px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.title {
  text-align: center;
  font-size: 28px;
}

.prev {
  position: absolute;
  left: 140px;
}

.sort-wrapper {
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sort {
  text-align: right;
}

.sort-by {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 46px;
  border: 1px solid black;
  width: 184px;
  align-items: start;
  z-index: 10;
  background-color: white;
  top: 282px;
}

.hide {
  display: none;
}

.price-ascending,
.price-descending {
  padding: 4px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.price-ascending:hover,
.price-descending:hover {
  background-color: #999;
}

.goods {
  margin-bottom: 100px;
}
  #cart .desc {
    color: #001a34;
    line-height: 18px;
  }

  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15%;
    font-size: 16px;
  }

  label {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 16px;
  }

  .sidebar-expanded {
    width: 230px;
  }
  .sidebar-collapsed {
    width: 60px;
  }

  .sidebar-submenu {
    margin-top: 12px;
    line-height: 1;
  }

  .filter-block,
  .filter-title {
    line-height: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .brands-search-wrapper_input,
  .shoes-search-wrapper_input {
    padding: 8px;
    height: 36px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  .checkbox {
    margin-left: -15px;
  }

  .filter-price_range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7px;
    width: 100%;
  }

  .filter-price_input-wrapper {
    padding-right: 4px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .filter-price_label {
    display: block;
    font-size: 14px;
    padding: 0 3px 0 0;
    color: #999;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .filter-price_input {
    width: 100%;
    max-width: calc(100% - 18px);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 14px;
    padding: 4px 5px 6px;
    outline: 2px solid transparent;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    background: #fff;
    height: 27px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .card {
    padding: 20px;
    margin: 10px;
    border-radius: 0;
    border: none;
    transition: box-shadow 200ms ease-in-out 0s;
  }
  .card:hover {
    box-shadow: 0 0 7px rgb(101 101 101 / 25%);
  }
  .aside {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }

  .page {
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .page-block {
    width: 252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }
  .page-block a {
    color: #979797;
    font-size: 16px;
  }

  .page-block a:hover {
    color: black;
  }

  .page-block a.active {
    color: black;
  }

  footer {
    height: 320px;
    padding: 40px 0;
  }

  .footer-title {
    margin-bottom: 18px;
    text-transform: uppercase;
  }

  .about a,
  .services a{
    margin-bottom: 16px;
  }

  .socials-list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .socials-item {
    list-style: none;
  }

  .socials-item a{
    margin-right: 18px;
  }

  .download {
    text-align: right;
  }

  .download a{
    margin-left: 16px;
  }

  .copyright {
    position: relative;
    bottom: -40px;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }

  .card-img-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 280px;
    width: 100%;
  }

  .card-img-top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-title {
    overflow: hidden;
    font-size: 20px;
    position: relative;
    z-index: 4;
    margin-bottom: 0;
  }

  .card-description {
    font-size: 20px;
  }

  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 94px;
    justify-content: flex-start;
    gap: 8px;
    padding: 0;
    line-height: 26px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

  }

  .card-price {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
  }

  .cart {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    z-index: 130;
  }

  .cart-body {
    position: relative;
    margin: auto;
    width: 1024px;
    min-height: 200px;
    max-height: 640px;
    background-color: #fff;
    overflow: auto;
    border-radius: 3px;
    text-align: center;
  }

  .cart-title {
    font-size: 28px;
    color: #4d5f71;
  }

  .cart-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 25px 0;
    border: 1px solid #4d5f713f;
    border-radius: 3px;
    padding: 20px;
  }

  .cart-wrapper #cart-empty {
    font-size: 24px;
    color: #4d5f71;
  }

  .cart-wrapper .card {
    width: 33%;
  }

  @media (max-width: 992px) {
    .cart-wrapper .card {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    .cart-wrapper .card {
      width: 100%;
    }
  }

  .cart-close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E");
  }

  .cart-total {
    font-size: 18px;
  }

  .cart-total span {
    color: #077c24;
  }

  .cart-confirm {
    display: block;
    margin-left: auto;
  }